{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{background-image:url({% static 'images/image2.jpg' %});text-align:center;}
        h2{background-color:black;color:green;text-align:center;
             padding:10px;font-family:arial;}
    </style>
</head>
<body>
<h2>Registration Form</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the Username"><br>
    <input type="text" name="first_name" placeholder="Enter the Firstname"><br>
    <input type="text" name="last_name" placeholder="Enter the Lastname"><br>
    <input type="email" name="e-mail" placeholder="Enter the Mail Id"><br>
    <input type="password" name="password" placeholder="Enter the Password"><br>
    <input type="password" name="password_again" placeholder="Confirm Password"><br>
    <input type="submit">


</form>
{% for a in messages %}
{{a}}
{% endfor %}
</body>
</html>